
body {
    margin: 0;
}

header {
    background-color: red;    
    height: 150px;
}

.flash-msg{
    background-color:orange;
}
header nav {
    display: flex;
    padding: 10px;
    justify-content: center;
}

header nav a{
    background-color:deepskyblue;
    padding: 30px;
}