*{
    box-sizing:border-box;
}

body {
    margin: 0;
    background-color: #F5F5F5;
}

footer {
    background-color: #48858A;
    color: white;
}

header {
    background-color: #63B7BD;
}

.flash-msg{
    background-color:#48858A;
    text-align:center;
    color: white;
    font-size: larger;
}
header nav {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

header nav a{
    background-color:#F5F5F5;
    padding: 30px;
    color: black;
}

h1 {
    padding: 0px;
    text-align: center;
    margin-left: 800px;
    margin-right: 800px;
    border: 2px solid black;
}

h2 {
    border: 2px solid black;
}

div1 {
    display:flex;
    justify-content:space-evenly;
}

h3 {
    text-align: center;
    margin-left: 900px;
    margin-right: 900px;
    padding: 10px;
    background-color: #63B7BD;
    color: white;
}

.contactForm  > div {
    font-family: Roboto;
}

.contactForm label {
    width: 200px;
    display: inline-block;

    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
}

.product {
    border: 2px solid #dddddd;
    width: 300px;
    color: black;
    height: 140px;
    padding: 20px 20px 10px 20px;
    text-decoration: none;
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    justify-content: center;
    position:relative;
}

    .product .product-name {
        background-color: #a4a4a450;
        color: black;
        font-weight: bold;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
    }

.detail3 img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}