

body {
    margin: 0;
    background-color: #F5F5F5;
}

footer {
    background-color: #48858A;
    color: white;
}

header {
    background-color: #63B7BD;
}

.flash-msg{
    background-color:#48858A;
    text-align:center;
    color: white;
    font-size: larger;
}
header nav {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

header nav a{
    background-color:#F5F5F5;
    padding: 30px;
    color: black;
}

h1 {
    padding: 0px;
    text-align: center;
    margin-left: 800px;
    margin-right: 800px;
    border: 2px solid black;
}

h2 {
    border: 2px solid black;
}

div1 {
    display:flex;
    justify-content:space-evenly;
}

h3 {
    text-align: center;
    margin-left: 900px;
    margin-right: 900px;
    padding: 10px;
    background-color: #63B7BD;
    color: white;
}

.contactForm  > div {
    font-family: Roboto;
}

.contactForm label {
    width: 200px;
    display: inline-block;

    min-height: 10em;
    display: table-cell;
    vertical-align: middle
}

.products{
    display: flex;
    flex-wrap: wrap;
}

.product{
    border: 2px solid black;
    width: 30%;
    flex: 1;
}

.product img {
    width: 200px;
}