<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <title>@ViewData["Title"] - ProteinHero</title>
   
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="flash-msg">Blabla</div>
        <nav>
            <a href="/aap">Contact</a>
            <a href="/privacy">Contact</a>
        </nav>
    </header>

       @RenderBody()
   
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProteinHero - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
  
</body>
</html>
