<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />

    <title>@ViewData["Title"] - ProteinHero</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>


<body>
    <header>
        <div class="flash-msg">Bestellen voor 17:00, morgen in huis.</div>
        <nav>
            <a href="/">homepage</a>
            <a href="/privacy">privacy</a>
            <a href="/tarieven">tarieven</a>
            <a href="/contact">Contact</a>

        </nav>
    </header>

    @RenderBody()
    
    <div class="container">
        &copy; 2022 - ProteinHero - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        division
    </div>



<footer class="border-top footer text-muted">
    <h4>Nieuwe protein bar coconut!</h4>
</footer>

</body>
</html>
