<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />

    <title>@ViewData["Title"] - ProteinHero</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>


<body>
    @RenderBody()
    <div class="container">
        &copy; 2022 - ProteinHero - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        division
    </div>



<footer class="border-top footer text-muted">
    footer
</footer>

</body>
</html>
