@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="flash-msg">Bestellen voor 17:00 = voor morgen in huis!</div>
    <nav>
        <a href="/aap">Contact</a>
        <a href="/privacy">Contact</a>
    </nav>
</header>
<div>
    <h1>Best sellers</h1>
    <div>blokjes</div>
    <div>blokje</div>
    <div>blokje</div>
</div>