@{
    ViewData["Title"] = "Home Page";
}



<h1>Best sellers</h1>

<div1>
    <h2><img src="/img/OIP.jpg"/></h2>
    <h2><img src="/img/download.jpg" /></h2>
    <h2><img src="/img/OIP.jpg"/></h2>
</div1>

<h3>New in</h3>

