@using ProteinHero.Database
@model List<Product>
@{
    ViewData["Title"] = "Startpagina";
}

<div class="text-center">
     <h1 class ="display-4">Welkom</h1>
     <ul>
     @foreach (var product in Model)
    {
        <p>@product.Naam</p>
    }
     </ul>
</div>


<h1>Populair</h1>

<div1>
    <h2><img src="/img/OIP.jpg"/>
        eiwit reep</h2>
    <h2><img src="/img/download.jpg" /> 
        box (12 repen)</h2>
    <h2><img src="/img/OIP.jpg"/>
        eiwit reep</h2>
</div1>

<h3>Nieuw!</h3>

