@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="flash-msg">Bestellen voor 17:00, morgen in huis.</div>
    <nav>
        <a href="/contact">Contact</a>
        <a href="/privacy">privacy</a>
        <a href="/tarieven">tarieven</a>

    </nav>
</header>
<div>
    <h1>Best sellers</h1>
    <div>blokjes</div>
    <div>blokje</div>
    <div>blokje</div>
</div>