@using ProteinHero.Database
@model List<Product>
@{
    ViewData["Title"] = "Startpagina";
}

<div class="text-center">
     <h1 class ="display-4">Welkom</h1>
     <ul>
     @foreach (var product in Model)
    {
        <a class="product" href="/product/@product.Id">
            <p>@product.Naam</p>

            <img src="@product.Img"/>
        </a>
    }
     </ul>
</div>


<h1>Populair</h1>

<div1>
    <h2><img src="/img/caramlchocobarebell.webp"/>
       BAREBELLS Caramel Choco</h2>
    <h2><img src="/img/download.jpg" /> 
        MILKYWAY Hi-Protein</h2>
</div1>

<h1>Alle producten</h1>

<div1>
    <h2><img src="/img/OIP.jpg"/>
       BAREBELLS Caramel Choco</h2>
    <h2><img src="/img/download.jpg" /> 
        MILKYWAY Hi-Protein</h2>
    <h2><img src="/img/OIP.jpg"/>
        BAREBELLS Chocolate Dough</h2>
      <h2><img src="/img/OIP.jpg"/>
       BAREBELLS White Chocolate Almond</h2>
</div1>

<h3>Nieuw!</h3>

