@using ProteinHero.Database
@model List<Product>
@{
    ViewData["Title"] = "Startpagina";
}

<h1 class ="display-4">Welkom</h1>
<div class="products">     
     @foreach (var product in Model)
    {
        <a class="product" href="/product/@product.Id" style="background-image:url('@product.Img')">
            <p class="product-name">@product.Naam</p>
        </a>
    }
</div>

<h3>Nieuw!</h3>

