@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <h1>Alle namen!</h1>
     @foreach(string naam in Model)
    {
        <p>@naam</p>
    }
</div>


<h1>Best sellers</h1>

<div1>
    <h2><img src="/img/OIP.jpg"/>
        protein bar</h2>
    <h2><img src="/img/download.jpg" /> 
        protein box</h2>
    <h2><img src="/img/OIP.jpg"/>
        protein bar</h2>
</div1>

<h3>New in</h3>

