@using ProteinHero.Database
@model Product
@{
    ViewData["Title"] = Model.Naam;
}

<div class ="detail1">
<h1 class ="display-4">@Model.Naam</h1>
<div class="detail3">
    <img src="@Model.Img"/>
</div>
<p>@Model.Info</p>
</div>

<div class ="detail2">
<p>@Model.Beschrijving</p>
</div>
